{% extends 'base.html.twig' %}

{% block title %}Film List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('assets/custom/css/autocomplete.css') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>

{% endblock %}

{% block body %}

    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Films list</span>
            </a>

            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                {{ form(form) }}
            </div>

        </div>
    </header>

    <section class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    {% for category in categories %}
                        <div class="row-cols-md-3">
                            <input id="categories" type="checkbox" name="categories[]" value="{{ category.title }}"/>
                            {{ category.title }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-8" id="films">
                {% for film in films %}

                    <div class="card" style="width: 30rem;">
                        <img src="{{ asset('uploads/film/5035523.jpg') }}" class="card-img-top" alt="{{ film.title }}"
                             height="250">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ film.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ film.author }}</h6>

                            <span>Category:</span> {{ film.category.title }}
                            <p class="card-text">
                                <small class="text-muted">Date: {{ film.completionDate | date("Y") }}</small>
                            </p>

                            <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                               data-bs-desc="{{ film.description }}"
                               class="btn btn-primary">Open description</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('assets/custom/js/autocomplete.js') }}"></script>
    <script type="text/javascript">
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var description = button.getAttribute('data-bs-desc')
            // Update the modal's content.
            var modalBodyP = exampleModal.querySelector('.modal-body p')

            modalBodyP.innerHTML = description
        });

        $('#categories').change(function () {
            var categoriesChecked = $('#categories:checked').map(function(){
                return this.value; }).get().join(",");

                var url = $('.js-film-autocomplete').data('autocomplete-url');

            $.ajax({
                url: url + '?query=' + '&categories=' + categoriesChecked
            }).then(function (data) {
                console.log(data);
            });
        });

    </script>
{% endblock %}
