<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        {% block body %}


        {% endblock %}
    </body>

    {% block js %}
    {% endblock %}
</html>
